

header {
    display: flex;
    justify-content: space-between;
    color: green;
}

.highscores {
    border: none;
    color: green;
}

main {
    text-align: center;
    margin: 50px;
}

h1 {
    font-size: 150%;
}

p {
    padding: 20px;
    font-size: 120%;
}

.choices {
    margin: 20px 80px;
}

.choices button,
#result button,
.start-btn,
.submit-h-s-btn {
    display: block;
    background-color: green;
    color: white;
    min-width: 100px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    margin: 0 auto;
}


button:hover,
#result button:hover,
.submit-h-s-btn:hover {
    background-color: rgb(109, 163, 109);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}